<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>dataRelation</title>
</head>
<body>
    <form action= "get_investment_relation"  method="get">
      <input type="text" name="CompanyCode" />
      <input type="submit" value="InvesetmentRelation" />
    </form>
    <br>
    <br>
    <form action= "get_key_hot_words"  method="get">
      <input type="text" name="CompanyCode" />
      <input type="submit" value="KeyHotWords" />
    </form>
    <br>
    <br>
    <form action= "get_managers_of_company"  method="get">
      <input type="text" name="CompanyCode" />
      <input type="submit" value="ManagersOfCompany" />
    </form>
    <br>
    <br>
    <form action= "get_news_publish_time_count"  method="get">
      <input type="text" name="CompanyCode" />
      <input type="submit" value="NewsPublishTimeCount" />
    </form>
    <br>
    <br>
    <form action= "get_news_report_count_change"  method="get">
      <input type="text" name="CompanyCode" />
      <input type="submit" value="NewsReportCountChange" />
    </form>
    <br>
    <br>
    <form action= "get_news_sentiment"  method="get">
      <input type="text" name="CompanyCode" />
      <input type="submit" value="NewsSentiment" />
    </form>
    <br>
    <br>
    <form action= "get_news_source"  method="get">
      <input type="text" name="CompanyCode" />
      <input type="submit" value="NewsSource" />
    </form>
    <br>
    <br>
    <form action= "get_news_year_count"  method="get">
      <input type="text" name="CompanyCode" />
      <input type="submit" value="NewsYearCount" />
    </form>
    <br>
    <br>
</body>